.filter-menu {
  min-width: 260px;
  min-height: 500px;
  border-radius: 6px;
  padding: 26px 12px;
  margin: 0;
  box-shadow: 0px 0px 3px #eee, 0px 0px 6px #eee;
}

.search-results {
  width: 100%;
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .search-results, .filter-menu {
    width: 400px;
    margin: auto;
  }
}
