.filter-menu {
  width: 300px;
  min-height: 500px;
  border-radius: 6px;
  padding: 26px 12px;
  margin: 40px;
  margin-left: 0;
  box-shadow: 0px 0px 3px #eee, 0px 0px 6px #eee;

  @media (max-width: 600px) {
    width: 100%; /* Set width to 100% for screens smaller than 600px */
    margin: 10px; /* Adjust margin as per your requirements */
  }
}

.search-results {
  width: 100%;
  min-height: 500px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}
