.search-bar-body {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 22px;
    margin: auto;
    padding: 6px 12px;
    width: 400px;
    height: 44px;
    margin-top: 22px;
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.09),0px 0px 5px 0px rgba(0,0,0,0.07),0px 0px 10px 0px rgba(0,0,0,0.05);
}

.search-icon {
    position: absolute;
    right: 12px;
    width: 32px !important;
    height: 32px !important;
    padding: 4px;
    color: #FFFFFF;
    border-radius: 50%;
}

.search-icon:hover {
    cursor: pointer;
}
