.card-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: flex;
}

.card-body {
    margin-left: 16px;
}

.card-text {
    color: #565E6C;
}

.clickable:hover {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .card-image {
        width: 400px;
    }
    .card-body {
        width: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .card-image {
        width: 400px;
    }
}