* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(#00BBAA, .1);
}

::-webkit-scrollbar-thumb {
  background: #00BBAA;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a99b;
}